<div class="wrapper_main">
  <div class="wrapper_root">
    <div class="content_root">
        <span class="title_root">
            Porfolio Sr Xendo.
        </span>
        <section>
            <p>
                Este proyecto está desarrollado con <strong>Angular 18</strong> y utiliza un diseño <strong>responsive sin media queries</strong>, aplicando únicamente <strong>CSS simple y moderno</strong>. El objetivo es lograr una estructura adaptable y ligera para todo tipo de dispositivos.
            </p>
            <p>
                El código es de <strong>código abierto</strong> y puedes verlo en GitHub:
                <a href="https://github.com/srXendo/cv_xendo" target="_blank" rel="noopener noreferrer">
                    https://github.com/srXendo/cv_xendo
                </a>
            </p>
        </section>

    </div>
  </div>
</div>
